/******** POSTS **********/
.link-post {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.container-posts {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Mulish", sans-serif;

  font-weight: 400;

  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-post {
  position: relative;
  width: 250px;
  margin: 10px;
  height: 350px;
  background-color: #1f242e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: solid 1px white;
  border-radius: 10px; */
}
.image-post {
  min-height: 155px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.section-post {
  word-wrap: break-word;
  font-size: 15px;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  width: auto;
  width: 25%;
  margin: 7px;
}

.like-post {
  margin: 10px;
  bottom: 0;
  position: absolute;
  width: 85px;
}

.number-likes-post {
  float: right;
  margin-top: 2px;
  font-size: 15px;
}

.container-card-text {
  margin: 7px;
}

.svg-heart {
  filter: red;
}
