@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Titillium+Web:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --main-bg-color: #181a1b;
  --main-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}
body {
  /* -webkit-tap-highlight-color: transparent; */
  margin: 0;
  color: white;
  background-color: #1e2127;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .card {
    margin-top: 25%;
  }
  .square-background {
    height: 80;
    width: 120px;
    height: 160px;
    border-radius: 25px;
  }
  .img-learning-section {
    width: 50px;
  }
  .container-name-section {
    margin-top: 20px;
  }
  .card-post {
    width: 300px;
  }
}
/******mobile**************/
@media only screen and (max-width: 600px) {
}

@media only screen and (max-height: 700px) {
  .square-background {
    /* height: 270px; */
  }
}
/************************************/

@media only screen and (min-width: 1200px) {
  .square-background {
    margin-top: 90px;
  }
  .form {
    width: 350px;
  }
  .container-post-content {
    width: 75%;
  }
  .card-post {
    width: 300px;
    height: 350px;
  }
  .title-post-card {
    font-size: 22px;
  }
}
